html {
    background-color:antiquewhite;
}

body{
    font-family:'Times New Roman', Times, serif;
    margin:30px;
    padding:20px;
    color:#000000;
    border-top:10px solid #000000;
    background:antiquewhite;
}
.sticky {
    background: #00ff21;
   /* position: sticky;*/
    font-size: 5em;
    top: 0;
}

h1 {
    font-size: 3em;
}
bio1 {
    font-size: 4em;
    background:#ffd800;
}
p {
    line-height:1.4em;
    margin:50px;
}
#BLOG1 {
    border-top: 2px solid antiquewhite;
    line-height:2.5em;
}

.Section-one {
    background:#b6ff00;
}
h2 {
    font-size: 1em;
    margin: 35px;
}

section {
    display:flex;

}
article {
    margin:35px;
}
article:nth-of-type(1) {
    flex:5;

}
article:nth-of-type(2) {
   flex: 5;
}
.BLOGTWO {
    border-bottom: 1px dotted #ffffff
}
.img {
    background:#ff0000;
    height:200px;
    width:60px;
    float:right;
    margin-left:19px;
}


footer {
    background:#b6ff00;
}

@media(max-width:400px){
    #BLOG1 {
        background-color:brown;
    
    }

}
